@page
@model HomeModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container text-center mt-5">
    <h1 class="display-10">Welcome to @Model.StoreName</h1>
    <p class="lead">@Model.StoreAddress</p>
    <p class="lead">@Model.StorePhone</p>

    <hr class="my-4">

    <div class="row justify-content-center">
        <div class="col-md-6">
            <a class="btn btn-primary btn-lg btn-block" asp-page="/Reservation" role="button">Make a Reservation</a>
        </div>
    </div>
</div>

<h2>Available Cars:</h2>

<div class="container text-center mt-3">
    <div class="row">
        @foreach (var car in Model.AllCarsList)
        {
            <div class="col-md-4 mb-4">
                <div class="card h-100">

                    <img src=@car.CarImage class="card-img-top" alt="Car Image">
                    <div class="card-body">
                        <h4 class="card-title">@car.CarBrand</h4>
                        <h5 class="card-text">@car.CarModel</h5>
                        <p class="card-text">@car.CarDescription</p>
                        <div class="col-md-50 text-success">
                            <h5>Total Reservations: @car.CarTotalReservation
                            </h5>
                        </div>
                    </div>

                    <div class="card-footer">
                        <div class="row justify-content-center">
                            <div class="col-md-10">
                                <a class="btn btn-primary" asp-page="/Reservation" asp-route-carId="@car.CarId"
                                    role="button">
                                    Reservation</a>
                            </div>

                        </div>


                    </div>

                </div>
            </div>
        }
        </dir>
        </dir>